<div class="container">
  <div class="row pt-5">
    <div class="col-12">
      <%= link_to "Developer Todos Status", root_path, class: "btn btn-success float-right mb-3" %>
    </div>
    <div class="col-12">
      <table class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Status</th>
            <% @data.each do |data| %>
              <th><%= data["name"] %></th>
            <% end %>
          </tr>
        </thead>
        <%= render 'todos_status' %>

    <div class="col-12">
      <% if @next_page.present? %>
        <%= link_to "Next Page", projects_todos_status_path(page: @next_page), class: "btn btn-success float-right btn-width" %>
      <% end %>
      <% if @prev_page.present? %>
        <%= link_to "Previous Page", projects_todos_status_path(page: @prev_page), class: "btn btn-success float-right btn-width mr-1" %>
      <% end %>
  </div>
</div>