<section class="form-inner">
  <div class="form-middle">
    <div class="form-details">
      <h2>Edit Profile</h2>

      <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <label>
          <span>Name</span>
          <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
        </label>

        <label>
          <span>Phone</span>
          <%= f.text_field :phone, autofocus: true, autocomplete: "email" %>
        </label>

        <label>
          <span>Email</span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </label>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></label>
        <% end %>

        <label>
          <span>Password <i class="text-info">(leave blank if you don't want to change it)</i></span>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <em class="text-warning"><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </label>

        <label>
          <span>Password confirmation</span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </label>

        <label>
          <span>Current Password <i class="text-warning">(we need your current password to confirm your changes)</i></span>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </label>

        <div class="btn-sub">
          <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</section>