<section class="form-inner">
  <div class="form-middle">
    <div class="form-details">
      <h2>Change your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <label>
          <% if @minimum_password_length %>
            <em class="text-info">(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: 'New Password' %>
        </label>

        <label>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>
        </label>

        <div class="btn-sub">
          <%= f.submit "Change my password", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
