<section class="form-inner">
  <div class="form-middle">
    <div class="form-details">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
        </label>

        <div class="btn-sub">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
      <span><%= render "devise/shared/links" %></span>
    </div>
  </div>
</section>