<section class="form-inner">
  <div class="form-middle">
    <div class="form-details">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
        </label>
        <label>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
        </label>
        <% if devise_mapping.rememberable? %>
          <label>
            <%= f.check_box :remember_me %>
            <span>Remember me</span>
          </label>
        <% end %>

        <div class="btn-sub">
          <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
          <span><%= render "devise/shared/links" %></span>
        </div>
      <% end %>
    </div>
  </div>
</section>
