<h4>Todos List</h4>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created By</th>
      <th>Assigned Developer</th>
      <th>Status</th>
      <th>Assign Developer</th>
    </tr>
  </thead>
  <tbody>
    <% todos.each do |todo| %>
      <tr>
        <td><%= edit_todo_link(todo, todo.name) %></td>
        <td><%= todo.creator.employee_id %> </td>
        <td><%= todo.developer.try(:employee_id) %> </td> 
        <td><%= show_status(todo) %></td>
        <td><%= edit_todo_link(todo, 'Assign') %> </td>
      </tr>
    <% end %>     
  </tbody>
</table>