<h4>Add Todo</h4>

<%= form_for @todo do |f| %>
  
  <%= render 'devise/shared/error_messages', resource: @todo %>
  <%= f.hidden_field :project_id, value: project.id %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
  </div>

  <div class="btn-sub">
    <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
  </div>
<% end %>