<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
    <%= render 'layouts/header' %>
    
    <% if !flash[:notice].blank? %>
      <div id="flash_notice" class="alert alert-success">
        <div id="notice" class="notice"><%= flash[:notice] %></div>
      </div>
    <% end %>

    <% if !flash[:alert].blank? %>
      <div id="flash_alert" class="alert alert-danger">
        <div id="alert" class="error"><%= flash[:alert] %></div>
      </div>
    <% end %>

    <%= yield %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
